.blood-glucose-metadata-selecto {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.blood-glucose-parent {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    box-sizing: border-box;
}

.blood-glucose {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}

.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 4px;
}

.radio-button-child {
    width: 20px;
    position: relative;
    height: 20px;
}

.blood-glucose-prototype {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.wrapper {
    width: 80px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 35px;
    margin-top: 3px;
}

.dropdown {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}

.dropdown-selector {
    width: 134px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-parent {
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 18px;
}

.radio-button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 4px;
    gap: 8px;
}

.radio-button2 {
    position: relative;
    line-height: 24px;
}

.reason-selector {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.span {
    color: #d7202c;
}
.strickout {
    text-decoration: line-through;
}
.dropdown-selector1 {
    width: 404px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal{
    backdrop-filter: brightness(0.5);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; /* Rounded corners for handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .modal-dialog
{
    height: 92%;
}

.modal-content
{
    max-height: calc(100% - 70px)
}

.previousvalue{
    font-style: italic;
    opacity: 65%;
}
